RewriteEngine On

# Si el archivo o carpeta existe, sirvelo (assets)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si no, redirige todo a index.php
RewriteRule ^ index.php [L]
